.modal-dialog{
    background-color: white;
    width: 600px;
}
h1{
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}
.form-container, .alert{
    margin: auto;
    padding: auto;
    width: 500px;
}
.form-input{
    display: flex;
    flex-direction: column;
}
input{
    height: 40px;
    border: solid 1px blue;
    border-radius: 5px;
    padding-left: 10px;
}
.form-btn{
    margin-top: 10px;
    text-align: center;
}
.btn{
    width: 150px;
    margin: 15px 10px;
}