<div class="modal-dialog ">
    <div class="modal-content">
        <h1>ajouter ou modifier un produit</h1>
        <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{errorMsg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="form-container">
            <form action="" [formGroup]="produitForm" #updateForm="ngForm" (ngSubmit)="envoyer()">
                <div class="form-input">
                    <label for="nom" class="form-label">Nom</label>
                    <input type="text" formControlName="nom" name="nom" id="nom" placeholder="Nom" [(ngModel)]="nom">
                </div>
                <div class="form-input">
                    <label for="prix" class="form-label">Prix</label>
                    <input type="text" formControlName="prix_unitaire" name="prix" id="prix" placeholder="Prix unitaire" [(ngModel)]="prix_unitaire">
                </div>
                <div class="form-input">
                    <label for="quantite" class="form-label">Quantité</label>
                    <input type="text" formControlName="quantite" name="quantite" id="quantite" placeholder="Quantité" [(ngModel)]="quantite">
                </div>
                <div class="form-btn">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                    <button type="button" class="btn btn-danger" (click)="close_form()">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>
