<div class="title-container">
  <div class="title">
    <h1>{{title}}</h1>
  </div>
  <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="search()">
    <input class="form-control me-2" type="search" formControlName="nom" placeholder="recherche" aria-label="Search">
    <button class="btn btn-success" type="submit">recherche</button>
  </form>
  <div>
    <button type="button" class="btn btn-success" (click)="poduit_form()">AJOUTER</button>
  </div>
</div>
<div *ngIf="!isSearch" class="alert alert-danger alert-dismissible fade show" role="alert">
  <p>{{notFoundMsg}}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<app-produit-table></app-produit-table>
<router-outlet></router-outlet>
