*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
.title-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.form-inline{
    display: inline-flex;
}
input{
    width: 350px;
    padding-left: 10px;
}
.btn{
    width: 100px;
}
.alert{
    width: 900px;
    margin: 10px auto;
    padding: auto;
    height: 50px;
}
p{
    padding: 15px 15px;
}
