.container-table{
    margin-top: 30px;
    height: 500px;
    overflow-y: scroll;
}
.table{
    text-align: center;
    margin: auto;
    padding: auto;
    width: 900px;
}
button{
    margin: 0 5px;
}