<div class="container-table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Quantité</th>
                <th scope="col">Option</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let produit of produits">
                <td>{{produit.id}}</td>
                <td>{{produit.nom}}</td>
                <td>{{produit.prix_unitaire}}<span>£</span></td>
                <td>{{produit.quantite}}</td>
                <td>
                    <button type="button" class="btn btn-secondary" (click)="update_produit(produit)">modifier</button>
                    <button type="button" class="btn btn-danger" (click)="delete_produit(produit)">supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


